extends base

block content
    .home-background 
        .height-30 
        .home-hole-box.fx.fade-in 
            form.home-form(action="/", method="post") 
                h3.fx.fade-in.header-margin="Enter your ID"
                input.home-input-id.fx.fade-in(type="text" name="usrId")
                input.hide(type="submit" value="Go!")
        .height-30